<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="jdbc.sqlonly" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="jdbc.sqltiming" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="jdbc.audit" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
<!--        <Logger name="jdbc.resultset" level="warn" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </Logger>-->
        <Logger name="jdbc.resultsettable" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
